* {
  font-family: 'Roboto', sans-serif;
}

.custom-container {
  max-width: 1024px;
  margin: 0 auto;
}

main {
  position: relative;
  min-height: calc(100vh - 146px);
}

main.home::after {
  content: "";
  background-image: url(background.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

h3 {
  font-size: 2rem;
  letter-spacing: 1.5px;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
}

span {
  overflow: hidden;
}

ul {
  list-style: none;
  max-width: 95%;
  margin: 0 auto;
}

a.a-footer {
  font-size: 1.5rem;
  text-decoration: none;
}

a.a-footer:hover {
  color: #b1dfe4;
}

textarea {
  min-height: 200px;
}

button:hover,
a:hover,
i:hover {
  cursor: pointer;
}

a:visited,
a:hover,
a:link,
a:active,
a:focus,
button:hover,
button:active,
button:visited,
button:link,
button:focus {
  text-decoration: none;
  outline: none;
}

i.home-icon,
.itinerary-title,
.review-title,
.park-icon {
  font-size: 1.6rem;
}

a:last-child.margin-a {
  margin-bottom: 1rem;
}

.dark-blue {
  background-color: #255f82;
  color: #b1dfe4;
}

.light-blue {
  background-color: #b1dfe4;
}

.medium-blue {
  color: #056caa;
}

.visited-blue {
  background-color: #7f9cad;
  color: #b1dfe4;
}

.blue {
  color: #255f82;
}

.margin-bottom {
  margin-bottom: 5rem;
}

.park-items {
  width: 90%;
  margin: 0 auto;
  border-bottom: 2px solid #b1dfe4;
}

.state-form,
.park-info,
.park-details {
  width: 90%;
  margin: 0 auto;
  background-color: white;
}

.park-info,
.state-form,
.park-list {
  border: 1px solid #6fafd6;
}

.park-info {
  min-height: 280px;
}

.div-height {
  height: 180px;
}

.select-state {
  font-size: 1.5rem;
  border: 1px solid #6fafd6;
  border-radius: 4px;
}

.tab {
  border: 1px solid #255f82;
  width: calc(100% / 3);
}

.title {
  font-size: 1.2rem;
}

.active-tab {
  border: 3px solid #255f82;
}

.photos {
  width: 100%;
}

.itinerary-item {
  border: none;
  border-bottom: 2px solid #b1dfe4;
}

.form-width {
  width: 90%;
}

.btn-width {
  width: 65%;
}

.btn-width-sm {
  width: 30%;
  font-size: 0.85rem;
}

.btn-width:hover,
.btn-width-sm:hover {
  color: #b1dfe4;
}

.park-buttons {
  margin: 0 auto;
}

.park-icon {
  position: absolute;
  right: 25px;
  color: white;
  text-shadow:
    2px 2px 0 #255f82,
    2px -2px 0 #255f82,
    -2px 2px 0 #255f82,
    -2px -2px 0 #255f82,
    2px 0 0 #255f82,
    0 2px 0 #255f82,
    -2px 0 0 #255f82,
    0 -2px 0 #255f82;
}

@media screen and (min-width: 667px) {
  .btn-width {
    width: 35%;
  }
}

@media screen and (min-width: 768px) {
  span {
    font-size: 1.6rem;
  }

  .park-buttons,
  .form-width,
  .state-form,
  .park-info {
    max-width: 600px;
  }

  .park-details {
    width: 600px;
  }

  .btn-width-sm {
    font-size: 1.1rem;
  }
}
